@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  color-scheme: light;
}

@theme inline {
  /* Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  /* Fonts */
  --font-sans: var(--font-ubuntu-sans), ui-sans-serif, system-ui, sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
 
html {
  background: #ffffff;
  background-color: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.container {
  max-width: 81rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
